body{
    background-color: rgb(0, 255, 191);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}

#corRodape{
    background-color: rgb(125, 0, 0);
}

#corCabeca{
    background-color: aqua;
}